<!-- 
*File: login.components.html
*Author: Firstname Lastname
*Copyright: 2023, Kossuth Lajos
*Group: Szoft II/N
*Date: 2023-03-25
*Github: https://github.com/LajosKossuth
*Licence: GNU GPL
 -->


<h1>Beléptető</h1>

<form [formGroup]="loginForm" (ngSubmit)="login()">

    <div>
        <label for="name" class="form-label">
            Felhasználónév
        </label>
        <input type="text" class="form-control"
        id="name" formControlName="name">
    </div>
    <div>
        <label for="password" class="form-label">Jelszó</label>
        <input type="text" class="form-control"
        id="password" formControlName="password">
    </div>
    <button type="submit" 
    class="btn btn-info mt-3">
        Belépés
    </button>
</form>